@model CreateMessageDto
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Bize Ulaşın
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post" asp-action="SendMessage" asp-controller="Default">
                        <div>
                            <input type="text" class="form-control" placeholder="Adınız Soyadınız" asp-for="NameSurname" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Telefon Numaranız" asp-for="Phone" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Mail Adresiniz" asp-for="Mail" />
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="Konu" asp-for="Subject" />
                        </div>
                        <div>
                           <textarea asp-for="MessageContent" rows="5" class="form-control" placeholder="Mesajınızı Buraya Yazabilirsiniz" ></textarea>
                        </div>
                        <div class="btn_box">
                            <button>
                                Mesajı Gönder
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.8658559060999!2d29.02466720765359!3d40.99322895697899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab869ab075357%3A0xa6778f82ad5519d!2zS29ydcOnYW0gUmVzdGF1cmFudCAmIE9jYWtiYcWfxLE!5e0!3m2!1str!2str!4v1737132025309!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>