@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="content">
	<div class="container-fluid">

		<script type="text/javascript">
			$(document).ready(()=>{
					var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7242/SignalRHub").build();
					$("#connstatus").text(connection.state);

					connection.start().then(()=>{
						$("#connstatus").text(connection.state);
						setInterval(() =>{
						connection.invoke("SendStatistic");
						
						},1000);

					}).catch((err)=>{console.log(err)});

			connection.on("ReceiveCategoryCount",(value)=>{
				$("#categorycount").text(value);
				});

				connection.on("ReceiveProductCount",(value2)=>{
				$("#productcount").text(value2);
				});

				connection.on("ReceiveActiveCategoryCount",(value3)=>{
				$("#ActiveCategoryCount").text(value3);
				});
				connection.on("ReceivePassiveCategoryCount",(value4)=>{
				$("#PassiveCategoryCount").text(value4);
				});

				connection.on("ReceiveProductCountByCategoryNameHamburger",(value5)=>{
				$("#ProductCountByCategoryNameHamburger").text(value5);
				});

				connection.on("ReveiveProductCountByCategoryNameDrink",(value6)=>{
				$("#ProductCountByCategoryNameDrink").text(value6);
				});

				connection.on("ReveiveProductAveragePrice",(value7)=>{
				$("#ProductAveragePrice").text(value7);
				});

				connection.on("ReceiveProductNameByMaxPrice",(value8)=>{
				$("#ProductNameByMaxPrice").text(value8);
				});

				connection.on("ReceiveProductNameByMinPrice",(value9)=>{
				$("#ProductNameByMinPrice").text(value9);
				});

				connection.on("ReceiveTProductAverageByHamburger",(value10)=>{
				$("#ProductAverageByHamburger").text(value10);
				});

				connection.on("ReceiveTotalOrderCount",(value11)=>{
				$("#TotalOrderCount").text(value11);
				});

				connection.on("ReceiveActiveOrderCount",(value12)=>{
				$("#ActiveOrderCount").text(value12);
				});

				connection.on("ReceiveLastOrderPrice",(value13)=>{
				$("#LastOrderPrice").text(value13);
				});
				
				connection.on("ReceiveTotalMoneyCaseAmount",(value14)=>{
				$("#TotalMoneyCaseAmount").text(value14);
				});
				
				connection.on("ReceiveTodayTotalPrice",(value15)=>{
				$("#TodayTotalPrice").text(value15);
				});
				
				connection.on("ReceiveMenuTableCount",(value16)=>{
				$("#MenuTableCount").text(value16);
				});

			});
		</script>	


		<h4 class="page-title">Anlık İstatistik Sayfası</h4>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-certificate"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Kategori Sayısı</p>
									<h4 class="card-title" id="categorycount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-shopping-cart"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Ürün Sayısı</p>
									<h4 class="card-title" id="productcount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-heart-o"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Aktif Kategori Sayısı</p>
									<h4 class="card-title" id="ActiveCategoryCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-heartbeat"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Pasif Kategori Sayısı</p>
									<h4 class="card-title" id="PassiveCategoryCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-moon-o"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Hamburger Sayısı</p>
									<h4 class="card-title" id="ProductCountByCategoryNameHamburger"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la  la-glass"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">İçecek Sayısı</p>
									<h4 class="card-title" id="ProductCountByCategoryNameDrink"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-money"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Ortalama Fiyat</p>
									<h4 class="card-title" id="ProductAveragePrice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-star"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">En Pahalı Ürün</p>
									<h4 class="card-title" id="ProductNameByMaxPrice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-star-o"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">En Ucuz Ürün</p>
									<h4 class="card-title" id="ProductNameByMinPrice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bar-chart"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Ortalama Hamburger Fiyatı</p>
									<h4 class="card-title" id="ProductAverageByHamburger"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-lemon-o"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Toplam Sipariş Sayısı</p>
									<h4 class="card-title" id="TotalOrderCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-check-circle"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Aktif Sipariş Sayısı</p>
									<h4 class="card-title" id="ActiveOrderCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="card card-stats card-warning">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-beer"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Son Sipariş Tutarı</p>
									<h4 class="card-title" id="LastOrderPrice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-success">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-bank"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Kasadaki Toplam Tutar</p>
									<h4 class="card-title" id="TotalMoneyCaseAmount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-danger">
					<div class="card-body">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-university"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Bugünkü Kasa</p>
									<h4 class="card-title" id="TodayTotalPrice"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-stats card-primary">
					<div class="card-body ">
						<div class="row">
							<div class="col-5">
								<div class="icon-big text-center">
									<i class="la la-table"></i>
								</div>
							</div>
							<div class="col-7 d-flex align-items-center">
								<div class="numbers">
									<p class="card-category">Masa Sayısı</p>
									<h4 class="card-title" id="MenuTableCount"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

